html {
    box-sizing: border-box;
    font-size: 62.5%;

}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 5px 0 0 0;
    text-align: center;
    font-family: 'Share Tech', sans-serif;
    background: #000; /*  */
    color: #ffffff;
}
a {
    text-decoration: none;
    color: #42A5F5;
}
.button {
    width: 25px;
    height: 25px;
    border: 3px solid #fff;
    background: rgba(255,255,255, 0.5);
    border-radius: 50%;
    margin: 0 0 4px 0;
    cursor: pointer;
    outline: none;
}
.button:active {
    transform: scale(0.8);
    transform-origin: center;
}
.flower {
    margin: 0 auto;
    width: 300px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flower > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flower__petals, .flower__leaves {
    margin: 4px 0;
}
.flower__petal {
    height: 100px;
    border-radius: 14% 50%;
}
div#green {
    background: #3ad146;
    background-image: radial-gradient(circle at 19% 19%, rgba(255, 255, 255, 0.7), #22992c 33%);
    box-shadow: 0 0px 0 5px #3ad146 inset, 0 5px 5px rgba(0, 7, 1, 0.17);
}
div#green:active {
    background-image: radial-gradient(circle at 19% 19%, rgba(255, 255, 255, 0.7), #3ad146 33%);
}
div#red {
    background: #f62f18;
    background-image: radial-gradient(circle at 27% 27%, rgba(255, 255, 255, 0.8), #c41a06 33%);
    box-shadow: 0 0px 0 5px #f62f18 inset, 0 5px 5px rgba(0, 7, 1, 0.17);
    border-radius: 50% 14%;
}
div#red:active {
    background-image: radial-gradient(circle at 27% 27%, rgba(255, 255, 255, 0.8), #f62f18 33%);
}
div#blue {
    background: #00a7ee;
    background-image: radial-gradient(circle at 19% 19%, rgba(255, 255, 255, 0.8), #0574a3 33%);
    box-shadow: 0 0px 0 5px #00a7ee inset, 0 5px 5px rgba(0, 7, 1, 0.17);
}
div#blue:active {
    background-image: radial-gradient(circle at 19% 19%, rgba(255, 255, 255, 0.8), #00a7ee 33%);
}
div#yellow {
    background: #fee73b;
    background-image: radial-gradient(circle at 27% 27%, rgba(255, 255, 255, 0.8), #c2ab01 33%);
    box-shadow: 0 0px 0 5px #fee73b inset, 0 5px 5px rgba(0, 7, 1, 0.17);
    border-radius: 50% 0;
    border-radius: 50% 14%;
}
div#yellow:active {
    background-image: radial-gradient(circle at 27% 27%, rgba(255, 255, 255, 0.8), #fee73b 33%);
}
.grid2 .flower__petal {
    background-image: none;
    box-shadow: 0 0px 0 5px rgba(255, 255, 255, 0.3) inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flower--right {
    border-radius: 50% 14%;
}

.flower__heart {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    z-index: 10;
    border-radius: 50%;
    background-color: #000;
    color: rgba(255, 255, 255, 1.0);
    background-image: radial-gradient(circle at 25% 25%, rgba(255, 255, 255, 0.7), #000 25%);
    font-size: 3rem;
}
.flower__message {
    //opacity: 0.75;
    opacity: 0;  
    width: 100%;
    height: 20px;
    font-size: 1.3rem;
    transition: opacity 0.3s ease-in-out;    
}
.active {
    opacity: 0.75;
    display: block;
}
.flower__ground {
    background: black;
    width: 100%;
    margin: 18px 0 34px 0;
    flex-direction: row;
}
.title {    
    font-size: 4rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.3);
}
.credits {
    color: #a9a9a9;
    margin: 5px 0;
}


/*https://proto.io/freebies/onoff/  */
.onoffswitch {
    position: relative; 
    width: 55px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
    margin: 0 5px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    height: 25px; 
    width: 55px;
    padding: 0; 
    line-height: 20px;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 25px;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; 
    width: 25px; 
    margin: 0px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 30px;
    border-radius: 25px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, 
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

.grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 100px  100px;  /*for Edge: 10px wider columns and rows mimic grid-gap effect */
    -ms-grid-rows: 100px  100px;
    grid-template: repeat(2, 100px) / repeat(2, 100px);
}
.grid2 {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 100px  100px;  /*for Edge: 10px wider columns and rows mimic grid-gap effect */
    -ms-grid-rows: 100px ;
    grid-template: 100px / repeat(2, 100px);  ;
}
/* For Edge: column-align and row-align make gutters show*/
.flower__petal:nth-child(1)  {
    -ms-grid-row: 1; /* default is 1 */
    -ms-grid-column: 1; /* default is 1 */
}
.flower__petal:nth-child(2)  {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-align: end;
}
.flower__petal:nth-child(3)  {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row-align: end;
}
.flower__petal:nth-child(4)  {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-row-align: end;
    -ms-grid-column-align: end;
}
.leave:nth-child(1)  {
    -ms-grid-row: 1; 
    -ms-grid-column: 1; 
}
.leave:nth-child(2)  {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-align: end;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 20rem) {  /* 320 / 16 = 20rem */

}

/* Extra Small flowers, Phones */
@media only screen and (min-width : 30rem) {  /* 480 / 16 = 30rem */

}

/* Small flowers, Tablets */
@media only screen and (min-width : 48rem) {  /* 768 / 16 =  48rem */

}

/* Medium flowers, Desktops */
@media only screen and (min-width : 62rem) {  /* 992 / 16 = 62rem */

}

/* Large flowers, Wide Screens */
@media only screen and (min-width : 75rem) { /* 1200 / 16 = 75rem */

}
